.navigation { /* stylelint-disable */
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: .1rem;
}

.shadow {
  box-shadow: 0.2px .1px 2px 0px rgba(0, 0, 0, 0.7);
}

.navigation .brand {
  align-self: center;
  padding: 1rem 0;
  cursor: pointer;
  color: black;
  font-size: 2.3rem;
}

.navigation .image {
  align-self: center;
  margin: 1rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  border-radius: 50%;
}

.navigation .punch {
  font-size: 1.2rem;
  color: #666666;
}

.navigation .punch .change {
  font-weight: bolder;
}

.navigation .punch .change:after {
  animation: changeWord 10s linear infinite;
  display: inline;
  content: "Student";
}

.navigation ul {
  align-self: center;
  padding: 1.6rem 0;
  list-style-type: none;
}

.navigation li {
  font-size: 1rem;
  padding: 2rem .5rem;
  display: inline;
  font-size: 1.4rem;
}

.navigation li:hover {
  border-bottom: 0.5rem solid black;
}

.navigation li a {
  padding: 2rem 1rem;
  text-decoration: none;
  color: inherit;  
}

@keyframes changeWord {
  0% {
    content: "Student";
  }

  50% {
    color: #666666;
    content: "Business";
  }

  100% {
    color: #666666;
    content: "Job Seeker";
  }
}

@media only screen and (max-width: 975px) {
  .navigation ul li {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .punch {
    display: none;
  }
}