.profile { /* stylelint-disable */
  margin: 1rem 4rem;
}

.card {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,.2);
  border: none;
  border-radius: 5px;
}

.Padded {
  padding: .5rem;
}

.Padded li,
.Padded .UL {
  font-size: 1.2rem;
  list-style-type: none;
  padding-left: 2rem;
}

.Fieldset {
  border: .5rem solid grey;
}

.Legend {
  font-size: 2rem;
}

.Fieldset > span {
  font-size: 1.1rem;
}

.Left {
  margin-left: auto;
}

.defaultStyle {
  color: #666666;
  font-size: 2rem;
  padding: 1rem;
}

.defaultStyle .name {
  font-size: 2rem;
}

.defaultStyle > h5 > img {
  width: 2rem;
  height: 2rem;
}

.defaultStyle a {
  text-decoration: none;
  font-size: 1.5rem;
}

button {
  /* border: .5px solid #666666; */
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, .4);
  transition: all .6s;
}

button:hover{
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, .6);
}