/* This Sheet Use For Layout As Far As Possible */

.grid {
  display: grid;
  padding: 10px;
  align-items: center;
  grid-gap: 5px 5px;
}

.profile { /* stylelint-disable */
  padding: 0;
  align-items: stretch;
  grid-gap: 15px 15px;
  grid-template-rows: auto auto 50px;
  grid-template-columns: 300px 600px 230px;
  margin: 1rem 4rem;
  transition: all .7s;
}

.BasicInfoGrid {
  grid-template-rows: 30px 30px;
  grid-template-columns: 250px 250px;
}

.RatingGrid {
  grid-template-rows: 30px;
  grid-template-columns: 500px;
}

.Actions {
  grid-template-rows: 30px;
  grid-template-columns: 30px 100px 150px 110px; 
}

.SocialIcons {
  grid-template-rows: 30px;
  grid-template-columns: repeat(4, 30px); 
}

.Notification { }

.leastImportant {
  font-size: 2rem;
}

@media(max-width: 1250px) {
  .profile {
    grid-template-columns: 300px 600px;
  }
  .Notification {
    display: none;
  }
}

@media(max-width: 975px) {
  .profile {
    grid-template-columns: 300px 350px;
  }
  .BasicInfoGrid {
    grid-template-columns: 250px;
    grid-template-rows: repeat(4, 30px);
  }
  .RatingGrid {
    grid-template-columns: 310px;
    grid-template-rows: 20px;
  }
  .Actions {
    grid-template-columns: 300px; 
    grid-template-rows: repeat(4, 40px);
  }
  .Left {
    margin: 0 !important;
    padding: 1rem;
  }
}

.card {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,.2);
  border: none;
  border-radius: 5px;
}

.Padded {
  padding: .5rem;
}

.Padded li,
.Padded .UL {
  font-size: 1.2rem;
  list-style-type: none;
  padding-left: 2rem;
}

.Fieldset {
  border: .5rem solid grey;
}

.Legend {
  font-size: 2rem;
}

.Fieldset > span {
  font-size: 1.1rem;
}

.Left {
  margin-left: auto;
}

.defaultStyle {
  color: #666666;
  font-size: 2rem;
  padding: 1rem;
}

.defaultStyle .name {
  font-size: 2rem;
}

.defaultStyle > h5 > img {
  width: 2rem;
  height: 2rem;
}

.defaultStyle a {
  text-decoration: none;
  font-size: 1.5rem;
}
