/**
 * styles.css
 *
 * App container styles
 */

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  line-height: 1.6;
}

.container {
  display: block;
}
