/**
 * styles.css
 *
 * App container styles
 */

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100;
  line-height: 1.6;
}

.container {
  display: block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: darkgray;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: rgb(212, 22, 22);  */
  background-color: grey;
}